{:acds
  {:username           "c##acds"
   :password           "acdsplatform"
   :server-name        "192.168.1.238"
   :database-name      "orclcdb"
   :port-number        32769
   :driverType         "thin"
   :adapter            "oracle"
   :pool-name          nil
   :auto-commit        true
   :connection-timeout 3000
   :validation-timeout 5000
   :idle-timeout       600000
   :max-lifetime       1800000
   :minimum-idle       1
   :maximum-pool-size  1}
 :log
 {:timestamp "dd.MM.yyyy HH:mm:ss"
  :path      "logs/app.log"
  :rotation  :daily
  :level     :debug}}
